body {
    text-align: center;
    margin: 0;
    }
a{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid transparent;
}
a:hover {
    color: white;
    }
h1 , h2 , a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px;
}
h1{
    margin: 0;
}
nav{
    background: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0 ;
}
main{
    width: 850px;
    margin: 35px auto;
}
img{
    margin: 40px 8px 0 8px;
}
footer{
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
.copyRight{
    float: left;
    font-family: 'Raleway', sans-serif;
}
.message{
    float: right;
    font-family: 'Raleway', sans-serif;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }
.name{
    font-weight: 700;
    color: #F15B31;
}
.reset{
    margin-top: 20px;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0,0, 0, 0);
    user-select: none;
    border-radius: 30px;
    box-shadow: 0 5px 10px #43265eaa;
    background-image: linear-gradient(to bottom,#F15B31 50%, #3c002f);
    position: absolute;
    bottom:-35px;
    right: 80px;
}
.scoreArea{
    border: solid black 2px;
    margin: 20px auto;
    border-radius: 6px;
    text-align: center;
    width: 300px;
    height: 100px;
    position:relative;
    color: white;
    font-size: 30px;
    animation: text 3s 1;
}
.pose{
    margin-top:20px;
    font-size: 50px;
    color: black;
}
#userLable{
    background: #F15B31;
    color: white;
    position: absolute;
    left: -25px;
    top:35px;
    padding: 3px;
    font-size: 20px;
}
#computerLable{
    background: #F15B31;
    color: white;
    position: absolute;
    right: -27px;
    top:8px;
    padding: 3px;
    top:35px;
    font-size: 20px;
}